<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Word</title>
</head>
<body>
<form>
    <fieldset>
        <legend>Add Word Details :</legend>
        <table>
            <tr>
                <td>
                    Word :
                </td>
                <td>
                    <input type="text" placeholder="Enter Word">
                </td>
            </tr>
            <tr>
                <td>
                    Meaning :
                </td>
                <td>
                    <input type="text" placeholder="Enter Word Meaning">
                </td>
            </tr>
            <tr>
                <td>
                    Example :
                </td>
                <td>
                    <input type="text" placeholder="Enter Sentence">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit Word">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>