<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/book-1.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/img/book-1.ico" type="image/x-icon" />

    <title>ExamPrep - Prep Tool</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{% include "includes/nav.html" %}

<!-- Page Content -->
<div class="container">

    <!-- /.row -->

    <div class="row">

        <div class="col-md-10">
            <div class="row">
                <div class="col-md-7">
                    <form method="post" action="/submitWord/">
                        <fieldset>
                            <legend>Edit Word Details :</legend>
                            <input type="hidden" name="id" value="{{words._id}}">
                            <table>
                                <tr>
                                    <td>
                                        Word :
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Enter Word" name="word" value="{{words.word}}" class="wordInput">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Level :
                                    </td>
                                    <td>
                                        <select name="level">
                                            {% if words.level == "Common Words 1" %}
                                                <option selected>Common Words 1</option>
                                            {% else %}
                                                <option>Common Words 1</option>
                                            {% endif %}
                                            {% if words.level == "Common Words 2" %}
                                            <option selected>Common Words 2</option>
                                            {% else %}
                                            <option>Common Words 2</option>
                                            {% endif %}
                                            {% if words.level == "Common Words 3" %}
                                            <option selected>Common Words 3</option>
                                            {% else %}
                                            <option>Common Words 3</option>
                                            {% endif %}
                                            {% if words.level == "Common Words 4" %}
                                            <option selected>Common Words 4</option>
                                            {% else %}
                                            <option>Common Words 4</option>
                                            {% endif %}
                                            {% if words.level == "Common Words 5" %}
                                            <option selected>Common Words 5</option>
                                            {% else %}
                                            <option>Common Words 5</option>
                                            {% endif %}
                                            {% if words.level == "Common Words 6" %}
                                            <option selected>Common Words 6</option>
                                            {% else %}
                                            <option>Common Words 6</option>
                                            {% endif %}

                                            {% if words.level == "Basic 1" %}
                                                <option selected>Basic 1</option>
                                            {% else %}
                                                <option>Basic 1</option>
                                            {% endif %}
                                            {% if words.level == "Basic 2" %}
                                                <option selected>Basic 2</option>
                                            {% else %}
                                                <option>Basic 2</option>
                                            {% endif %}
                                            {% if words.level == "Basic 3" %}
                                                <option selected>Basic 3</option>
                                            {% else %}
                                                <option>Basic 3</option>
                                            {% endif %}
                                            {% if words.level == "Basic 4" %}
                                                <option selected>Basic 4</option>
                                            {% else %}
                                                <option>Basic 4</option>
                                            {% endif %}
                                            {% if words.level == "Basic 5" %}
                                                <option selected>Basic 5</option>
                                            {% else %}
                                                <option>Basic 5</option>
                                            {% endif %}
                                            {% if words.level == "Basic 6" %}
                                                <option selected>Basic 6</option>
                                            {% else %}
                                                <option>Basic 6</option>
                                            {% endif %}

                                            {% if words.level == "Advanced 1" %}
                                                <option selected>Advanced 1</option>
                                            {% else %}
                                                <option>Advanced 1</option>
                                            {% endif %}
                                            {% if words.level == "Advanced 2" %}
                                                <option selected>Advanced 2</option>
                                            {% else %}
                                                <option>Advanced 2</option>
                                            {% endif %}
                                            {% if words.level == "Advanced 3" %}
                                                <option selected>Advanced 3</option>
                                            {% else %}
                                                <option>Advanced 3</option>
                                            {% endif %}
                                            {% if words.level == "Advanced 4" %}
                                                <option selected>Advanced 4</option>
                                            {% else %}
                                                <option>Advanced 4</option>
                                            {% endif %}
                                            {% if words.level == "Advanced 5" %}
                                                <option selected>Advanced 5</option>
                                            {% else %}
                                                <option>Advanced 5</option>
                                            {% endif %}
                                            {% if words.level == "Advanced 6" %}
                                                <option selected>Advanced 6</option>
                                            {% else %}
                                                <option>Advanced 6</option>
                                            {% endif %}
                                            {% if words.level == "Advanced 7" %}
                                                <option selected>Advanced 7</option>
                                            {% else %}
                                                <option>Advanced 7</option>
                                            {% endif %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Meaning :
                                    </td>
                                    <td>
                                        <textarea rows="2" cols="50" placeholder="Enter Word Meaning" name="meaning" class="wordInput2">{{words.meaning}}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Example :
                                    </td>
                                    <td>
                                        <textarea rows="5" cols="50" placeholder="Enter Sentence" name="example" class="wordInput">{{words.example}}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="btn btn-primary" type="submit" value="Submit Changes">
                                    </td>
                                    <td>
                                        <input class="btn btn-info" type="button" value="Cancel" onclick="window.location='/words/{{words._id}}';">
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    {% include "includes/footer.html" %}
</div>
</body>
<script>
    $(document).ready(function(){
        $(".wordInput").focusout(function () {
            var val = $(this).val();
            val = val.charAt(0).toUpperCase() + val.slice(1);
            val = val.trim();
            $(this).val(val);
        });
        $(".wordInput2").focusout(function () {
            var val = $(this).val();
            var length = val.length;
            var pos = -1;
            for(var i=0; i<length; i++)
            {
                if(val.charAt(i) == ':')
                {
                    pos = i;
                }
            }
            if(pos >= 0)
                {
                    val = val.slice(pos + 1); 
                }
            val = val.trim();
            val = val.charAt(0).toUpperCase() + val.slice(1);
            $(this).val(val);
        });
    });
</script>
</html>
